set-window-option -g mode-keys vi

set -g mouse on

set -s set-clipboard on

unbind -T copy-mode MouseDragEnd1Pane
unbind -T copy-mode-vi MouseDragEnd1Pane

bind-key -T copy-mode MouseDragEnd1Pane send-keys -X copy-pipe-no-clear
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-no-clear

#On kubuntu run sudo apt install wl-clipboard to install clipboard first
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "wl-copy"
bind-key -T copy-mode-vi C-c send-keys -X copy-pipe-and-cancel "wl-copy"
